body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Hiragino Mincho Pro',serif;
    background-image: url(../img/japanese-paper_00147.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #000000;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* header */
header {
    text-align: center;
}

.logo {
    height: 220px;
    width: auto;
}

.header-list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.item {
    font-size: 22px;
    margin: 0 20px;
}

/* main */
/* top */
.top {
    margin-top: 30px;
    text-align: center;
}

.top-img{
    width: 80%;
    height: 60%;
}

.top-title {
    font-size: 28px;
    margin: 20px auto;
}

.top-sen {
    font-size: 20px;
    line-height: 1.8;
}

/* line */

/* under */
.under {
    padding: 0 80px;
}

.under-list {
    list-style-type: decimal;
}

.under-item {
    font-size: 20px;
    margin-bottom: 30px;
}

/* footer */
.footer-wrap {
    text-align: center;
    height: 100px;
    margin-top: 20px;
}

.copyright {
    padding-top: 50px;
}
